.custom-popup {
    margin: 0 auto;
    position: relative;
    text-align: center;
    margin-top: -40px;
    transform: translate(-50%, -50%);
    padding: 4px 5px 4px 5px; /* top, right, bottom, left */
    z-index: 999;
    background-color: white;
}

.custom-popup:after {
    content: "";
    height: 100%;
    width: 100%;
    border-radius: 4px;
    position: absolute;
    top: 0;
    left: 0;
    box-shadow: 0 1px 14px rgba(0,0,0,.2);
}

.custom-popup:before { /* arrow */
    content: "";
    width: 20px;
    height: 20px;
    transform: rotate(45deg);
    box-shadow: 0 1px 14px rgba(0,0,0,.2);
    background: #fff;
    position: absolute;
    z-index: 998;
    left: calc(50% - 10px);
    bottom: -8px;
}

.custom-popup > div {
    padding: 3px;
    background: #fff;
    position: relative;
    z-index: 998;  
}